.primary{
  color: #FD8791;
}
.secondary{
  color: #FF997A;
}
.primary:hover{
  color: #FFF;
  transition: ease-in 0.3s;
}
.hover{
  color: #FFF;
}
.bg{
  background-color: #191919;
}
:active{
  color: #FFF;
}


/*Navbar CSS*/
.navbar{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
}

.menu NavLink svg{
  width: 20px;
  margin-bottom: 5px;
}
.menu a.active{
  color: #FFF;
}

.svg:hover{
  fill: #FFF;
  transition: ease-in 0.3s;
}
.logo{
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 60px;
  padding: 5px;
}
.menu span{
  cursor: default;
  font-size: x-large;
}
.ln-bt::after{
  display: block;
  border-bottom: 7px solid #FD8791 ;
  width: 100px;
  content: "";
  border-radius: 25px;
  margin: 5px 0px;
}

@media (max-width:750px) {
  #menu-off{
    display: none;
  }
 .navbar{
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width:750px) {
  #bar-on{
    display: none;
  }

}